html, body, nav, section, footer, div{
	margin:0;
	font-size: 16px;
}
body{
	background:#f9f9f9;
}
h5,h4,h6,h3,h2,h1,a,p{
	font-size: 17px;
}
code {
	font-size: 16px;
}
#navigation {
	margin-top: 30px;
	margin-bottom: 20px;
}
#navigation ul {
	list-style-type: none; 
}

#navigation li{
	border-top: 1px solid #000;
	/*margin:10px;*/
	padding:20px 10px;
	background:#f0f0f0;
	/*#cf7ef3;*/
	/*#f3957e;*/
}
#navigation li:last-child {
	border-bottom: 1px solid #000;
}

#centered {
text-align: center;
}
h3 {
	font-size: 18px;
}



/***************Creating collumns**********************/
.rows {
width:100%;
}
#navigation{
	width: 25%;
	float:left;
	position: fixed;
	top:0;
	left:0;
}
.collumn2 {
	width:75%;
	float:right;
}
.container {
	width:90%;
	padding:20px;
	margin:0 auto;
}
.rows:after {
	clear:both;
}
/***************End of Creating collumns**********************/
